/* Home.module.css */

/* Body */
.bodyBackground {
  background: url("/Images/background.svg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-position-y: -5px;
}

main.main-element {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* backdrop-filter: blur(1.5px); */
}

/* Main Section */
#main {
  width: 100%;
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Main Title */
#main h1.title {
  font-family: Righteous;
  font-size: 3.5em;
  text-align: center;
  position: relative;
  top: -10px;
}

/* Title Span */
h1.title span.span {
  background: linear-gradient(90deg,
      var(--prim-red),
      var(--prim-gold),
      var(--prim-red) 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

/* Main Description */
#main p.desc {
  width: 60%;
  line-height: 1.4;
  font-size: 0.87em;
  font-weight: 600;
  font-family: quicksand, inter, Arial, Helvetica, sans-serif;
  color: #343434;
  text-align: center;
  position: relative;
  top: 20px;
}

/* Horizontal Rule */
hr.hr {
  width: 65%;
  /* position: relative;
  left: 50%;
  transform: translateX(-50%); */
  border: none;
  height: 1px;
  background: linear-gradient(90deg, transparent, #ddd, transparent);
}


@media (max-width: 767px) {
  #main{
    height: 75vh;
    backdrop-filter: blur(2.9px);
  }
  /* Main Title */
  #main h1.title {
    font-size: 2.6em;
    top: -30px;
  }

  /* Title Span */
  h1.title span.span {
    font-size: 2.7em;
  }

  /* Main Description */
  #main p.desc {
    font-size: 1em;
    line-height: 1.3;
    width: calc(100% - 40px);
    top: 0;
  }

  .feed{
    position: relative;
    top: -80px;
  }

  hr.hr{
    position: relative;
    top: -100px;
  }
}