section#profile {
  position: relative;
  top: 110px;
  left: 30px;
  width: calc(100% - 30px - 30px);
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* background: #333; */
}

h1.title {
  text-transform: capitalize;
  font-family: Righteous;
  font-size: 3em;
  display: inline-block;
  background: linear-gradient(90deg, var(--prim-red), var(--prim-gold), var(--prim-red) 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.user-info {
  position: fixed;
  /* height: fit-content; */
  /* height: 70%; */
  width: 18%;
  min-width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
}

div.posts {
  /* background: #999; */
  position: relative;
  width: calc(100% - 18% - 50px);
  left: calc(18% + 50px);
}

/* .feed {
  background: #000;
} */

div.img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-family: Righteous;
  color: #393939;
}

hr.hr {
  border: none;
  height: 1px;
  /* position: relative; */
  width: 100%;
  /* top: 20px; */
  /* background: #000; */
  background: linear-gradient(90deg, white 5%, #f47a34, white 95%);
}

div.img-name img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

button.delete-btn {
  width: 70%;
  height: 30px;
  color: white;
  font-family: abeezee;
  font-size: 11px;
  border: none;
  outline: none;
  position: relative;
  top: calc(100% - 20px);
  transition: 150ms ease-out;
  cursor: pointer;
  border-radius: 64px;
  background: linear-gradient(90deg, #FF000F -40.14%, #FF8A00 136.39%);
}

button.delete-btn:hover {
  transform: scale(1.04);
}