section.post-page {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: intel, Quicksand, Arial, Helvetica, sans-serif;
  gap: 70px;
  position: relative;
  top: 100px;
  padding-bottom: 50px;
}

p.title {
  width: calc(100% - 35px - 45px);
  font-family: Aharoni, Righteous, Arial, Helvetica, sans-serif;
  color: #313131;
  font-size: 3em;
  text-overflow: ellipsis;
  padding: 30px 15px;
  max-height: 200px;
  overflow-x: hidden;
  position: relative;
  left: 0;
  border-radius: 7px;
  border-bottom: 2px solid;
  text-align: center;
  border-image: linear-gradient(90deg, white 20%, #ff5010, white 80%) 1;
}

section.images-info {
  display: flex;
  flex-direction: row;
  /* background: #000; */
  position: relative;
  width: calc(100% - 60px);
  left: 10px;
  gap: 25px;
}

.image-component {
  flex: 70%;
  padding: 0;
}

div.info {
  flex: 50%;
}

div.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.image-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* background: #f5f5f5; */
  box-shadow: 0px 0px 7px #0000001a;
  /* background: #ffa0732e; */
  padding: 30px 30px 40px 30px;
  border-radius: 5px;
  width: calc(100% - 20px);
}

div.image-info div.pfp img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

div.image-info div.user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

p.username {
  font-size: 1.3em;
  font-weight: bolder;
  color: #444;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}

p.date {
  font-size: .9em;
  color: #555;
}

p.contact {
  position: relative;
  top: 10px;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: underline;
  color: #ff5010;
  cursor: pointer;
  user-select: none;
}

button.contact-display-btn {
  border: none;
  outline: none;
  padding: 13px 35px;
  background: linear-gradient(45deg, #ff5010, #ff8235);
  color: white;
  cursor: pointer;
  position: relative;
  top: 15px;
  transition: 300ms;
}

button.contact-display-btn:hover {
  transform: scale(1.03);
  /* padding: 15px 40px; */
}

.phone-icon {
  position: relative;
  left: -20px;
}

div.location {
  box-shadow: 0px 0px 7px #0000001a;
  padding: 30px;
  border-radius: 5px;
  width: calc(100% - 20px);
}

div.location p.location {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

p.location span {
  color: #444;
  font-size: 1.2em;
}

p.location .location-icon {
  font-size: 2em;
  color: #ff5010;
}

div.price {
  box-shadow: 0px 0px 7px #0000001a;
  padding: 30px;
  border-radius: 5px;
  width: calc(100% - 20px);
}

div.price p.price {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

p.price span {
  background: linear-gradient(90deg, var(--prim-red), var(--prim-gold), var(--prim-red) 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
}

p.price .price-icon {
  font-size: 2em;
  color: #ff5010;
}

div.ad-id {
  /* box-shadow: 0px 0px 7px #0000001a; */
  padding: 30px 0;
  border-radius: 5px;
  width: calc(100% - 20px);
}

div.ad-id p.ad-id {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

p.ad-id span {
  color: #444;
  font-size: 1em;
}

p.ad-id .ad-id-icon {
  font-size: 1em;
  color: rgb(78, 78, 78);
}

section.description {
  width: calc(100% - 60px);
  position: relative;
  left: 10px;
}

div.description {
  box-shadow: 0px 0px 7px #0000001a;
  padding: 30px;
  border-radius: 5px;
  width: calc(100% - 20px);
  white-space: pre-wrap;
}

div.description p.description {
  white-space: pre-wrap;
  overflow-y: auto;
}

h1.desc-title {
  background: linear-gradient(90deg, var(--prim-red), var(--prim-gold), var(--prim-red) 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-family: Righteous;
  font-size: 1.8em;
  position: relative;
  top: -12px;
  left: -3px;
  width: fit-content;
}

h1.related-posts-title {
  text-transform: capitalize;
  font-family: Righteous;
  font-size: 3.5em;
  position: relative;
  text-decoration: underline;
  top: 15px;
  width: fit-content;
  text-align: left;
  display: inline-block;
  background: linear-gradient(90deg, var(--prim-red), var(--prim-gold), var(--prim-red) 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feed {
  position: relative;
  top: -60px;
}

@media (max-width: 767px) {

  section.post-page {
    gap: 28px;
  }

  p.title {
    font-size: 2em;
    width: 100%;
  }

  h1.related-posts-title {
    font-size: 2em;
    text-align: center;
    width: fit-content;
    top: 30px;
  }

  .feed {
    top: -10px;
  }

  section.images-info {
    flex-direction: column;
    position: relative;
    width: calc(100% - 20px);
    justify-content: center;
    gap: 25px;
  }

  section.description {
    width: calc(100% - 20px);
  }

  .image-component {
    position: relative;
    width: calc(100% - 20px) !important;
  }
}