div.container{
  position: relative;
  width: 550px;
  height: 480px;
  padding: 10px;
  border-radius: 15px;
  /* background: linear-gradient(to bottom right, var(--prim-gold), var(--prim-red)); */
  background: #0000007b;
  transition: 200ms;
  overflow: hidden;
  scroll-behavior: smooth; 
}

/* smooth */

div.image-container{
  width: fit-content;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  transition: 400ms ease-in-out;
  scroll-behavior: smooth;
  border-radius: 10px;
  transform: translateX(14px);
}

div.img{
  border-radius: 10px;
  width: 500px;
  height: 450px;
  position: relative;
  background: #ffffff90;
  overflow: hidden;
}

div.img img{
  object-fit: contain;
}

button.previous, button.next{
  position: absolute;
  /* background: #fff; */
  background: #00000075;
  font-size: 1em;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  /* color: #444; */
  color: white;
  width: 40px;
  /* height: 40px; */
  height: 40px;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 3px 3px 3px #44444444;
  border-radius: 50%;
}

div.container button:hover{
  transform: scale(1.1) translateY(-49%);
}

/* button.previous{
  border-radius: 0 20px 20px 0;
} */

button.next{
  /* border-radius: 20px 0 0 20px; */
  right: 10px;
}

div.labels{
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  width: fit-content;
}

div.label{
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  transition: 150ms;
}

div.label:hover{
  transform: scale(1.2);
}

div.preview{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000000b2;
  z-index: 10000;
  top: 100%;
  transition: 400ms;
  display: flex;

}

img.preview-img{
  width: 88%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  transition: 400ms;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  align-items: center;
}

div.preview-container{
  background: #000000b9;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  top: 100%;
  /* background: linear-gradient(to bottom right, var(--prim-gold), var(--prim-red)); */
  transition: 200ms;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 10000;
  transform: rotateX(90deg);
  align-items: center;
}

div.preview-image-container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: 400ms ease-in-out;
  scroll-behavior: smooth;
  align-items: center;
}

div.preview-img img{
  width: calc(100vw - 20px);
  height: calc(100vh - 100px);
  object-fit: contain;
}

button.preview-previous,
button.preview-next {
  position: absolute;
  /* background: #fff; */
  background: #00000070;
  font-size: 1em;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  /* color: #444; */
  color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 3px 3px 3px #44444444;
  border-radius: 50%;
}

div.preview-container button:not(button.close):hover {
  transform: scale(1.1) translateY(-49%);
}

button.preview-next {
  right: 10px;
}

div.preview-labels {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  width: fit-content;
}

div.preview-label {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #ff3c00;
  cursor: pointer;
  transition: 150ms;
}

div.preview-label:hover {
  transform: scale(1.2);
}

button.close{
  position: absolute;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  background: #00000090;
  border-radius: 50%;
  right: 15px;
  top: 10px;
  cursor: pointer;
  display: inline-block;
  z-index: 10001;
  border: none;
  outline: none;
  width: 1.9em;
  height: 1.9em;
  transition: 100ms ;
}

button.close:hover{
  background: #fff;
  color: #444;
}

/* button.previous::before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #090031;
  position: absolute;
  top: 0;
  border-radius: 0 0 0 50px;
  transform: rotate(270deg);
}

button.previous::after{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #090031;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 0 50px;
  transform: rotate(180deg);
} */

